<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">UI Assignment </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home" routerLinkActive="active-link-new ">Profile <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" routerLink="/login"  (click)="navigateTo()">Logout</a>
  
      </form>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>User Details</h2>
            <br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>First Name</h4>
        </div>
        <div class="col-md-3">
            <h4>{{firstName}}</h4>
        </div>
        <div class="col-md-3">
            <h4>Last Name</h4>
        </div>
        <div class="col-md-3">
            <h4>{{lastName}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Email</h4>
        </div>
        <div class="col-md-3">
            <h4>{{email}}</h4>
        </div>
        <div class="col-md-3">
            <h4>Phone</h4>
        </div>
        <div class="col-md-3">
            <h4>{{phone}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Skills</h4>
        </div>
        <div class="col-md-3">
            <h4>{{skills}}</h4>
        </div>
        <div class="col-md-3">
            <h4>Hobbies</h4>
        </div>
        <div class="col-md-3">
            <h4>{{hobbies}}</h4>
        </div>
    </div>
</div>